name: 编译全自动ADB工具

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install requests pyinstaller
      - run: pyinstaller -F -c YoudaoADB_FullAuto.py
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: auto_build
          name: 有道词典笔全自动工具
          files: dist/YoudaoADB_FullAuto.exe
