name: 编译并发布 Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 下载代码
        uses: actions/checkout@v4

      - name: 设置 Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'

      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: 编译 EXE
        run: |
          pyinstaller -F -c YoudaoADBTool.py

      - name: 获取版本时间
        id: version
        run: echo "version=$(date +'%Y%m%d%H%M')" >> $env:GITHUB_OUTPUT
        shell: pwsh

      - name: 创建 Release
        uses: softprops/action-gh-release@v2
        with:
          name: 有道词典笔ADB工具_${{ steps.version.outputs.version }}
          tag_name: ${{ steps.version.outputs.version }}
          files: dist/YoudaoADBTool.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
